doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css", rel="stylesheet", type="text/css")
    script(src="https://cdn.tailwindcss.com")
    title Mata Kuliah
    style.
      .bg-custom {
        background-color: #16105B;
      }
      .btn-outline-red {
        border: 2px solid #ff1414;
        color: #00000000;
      }
      .dropdown-content a {
        color: #000; /* Set text color to black */
      }
  body
    include layout/navbar  
    .flex
      include layout/sidebar 
      
      .flex-1.p-10
        h1.text-3xl.font-bold Mata Kuliah
        p.mt-4 Welcome to the Mata Kuliah page!
        //  Tabel Mata Kuliah 
        .mt-8
          table.table-auto.w-full.text-left.border-collapse
            thead
              tr.bg-custom.text-white
                th.px-4.py-2.border No
                th.px-4.py-2.border Kode Mata Kuliah
                th.px-4.py-2.border Nama Mata Kuliah
                th.px-4.py-2.border Dosen Pengampu
                th.px-4.py-2.border Kelas
                th.px-4.py-2.border Ruang Kelas
                th.px-4.py-2.border Jadwal Kelas
            tbody
              each mk, index in matkul
                tr
                  td.px-4.py-2.border #{index + 1}
                  td.px-4.py-2.border #{mk.kode_mk}
                  td.px-4.py-2.border #{mk.nama_mk}
                  td.px-4.py-2.border #{mk.dosen_mk}
                  td.px-4.py-2.border #{mk.kelas_mk}
                  td.px-4.py-2.border #{mk.ruangkelas_mk}
                  td.px-4.py-2.border #{mk.jadwal_mk}
